body {
    font-family: verdana;
    font-size: 12px;
    color: #333333;
    margin: 0
}

.sub1 {
  margin-left: 10px;
}
.sub2 {
  margin-left: 20px;
}
.sub3 {
  margin-left: 30px;
}
.sub4 {
  margin-left: 40px;
}
.sub5 {
  margin-left: 50px;
}
.close {
    float: right;
    position: relative;
    top: -23px;
    border: solid 1px #333333;
    padding: 0px 3px 2px 3px;
    border-radius: 3px;
    background-color: #eeeeee;
}
.close:hover {
    background-color:#ee9999;
    color:#ffffff;
}
.field {
    margin: 10px;
    border: solid 1px #999999;
    padding: 10px;
    display: none;
    border-radius: 5px;
    -border-radius: 5px;
}
#frontform {
    margin: 20px;
    position: relative;
}
.label {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;	
}
.entry {
    float: left;
}
.firstGroups {
    border: solid 1px #646464;
    float: left;
    clear: both;
    padding: 10px;
    margin: 10px;
    position: relative;
    background-color: #eeeeee;
    width: 420px;
    border-radius: 5px;
    -border-radius: 5px;
    -webkit-border-radius: 5px;
}
#wrapperNext {
    float: left;
    clear: both;
    margin: 10px;
}
h2 {
    margin:10px;
    color: #ffffff;
    float: left;
}
h3 {
    margin: 0 0 5px 0;
    padding: 0;
}
#workspace {
    float: left;
    clear: both;
    width: 600px;
}
#exportIATI {
    display: none;
}

#header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    height: 40px;
    background-color: #646464;
}
#menu {
    float: right;
    margin: 13px 30px;
    color: #ffffff;
}
a:link, a:visited {
   color: #ffffff;  
}
a:hover {
    color: #99ff99;
}
.error {
    color: #ff0000;
    float:left;
    clear: both;
    margin-left: 15px;
}
.bigbutton {
    background-color: #646464;
    border: solid 3px #333333;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}
.bigbutton:hover {
    background-color: #777777;
    border-color: #666666;
}